USE [master]
GO
/****** Object:  Database [Corrida]    Script Date: 06/09/2019 01:01:42 ******/
CREATE DATABASE [Corrida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Corrida', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Corrida.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Corrida_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Corrida_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Corrida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Corrida]
GO
/****** Object:  Table [dbo].[Corrida]    Script Date: 06/09/2019 01:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corrida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Inicio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 06/09/2019 01:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[IdCorrida] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Hora] [datetime] NOT NULL,
	[Elevacao] [float] NULL,
	[Batimento] [int] NULL,
	[CadenciaPasso] [int] NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[Distancia] [money] NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[IdCorrida] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK__track__IdCorrida__38996AB5] FOREIGN KEY([IdCorrida])
REFERENCES [dbo].[Corrida] ([Id])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK__track__IdCorrida__38996AB5]
GO
USE [master]
GO
